* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #FFEDD5;
  font-family: sans-serif;
}

ul {
  list-style: none;
}
header {
  padding: 300;
  text-align: center;
}

header, section {
  max-width: 300px;
  margin: 0 auto;
}

header h1 {
  margin-bottom: 4px;
  font-size: 28px;
  line-height: 33px;
}

header h1 span {
  color: #995000;
}

header p {
  font-size: 14px;
  line-height: 16px;
  color: rgba(0, 0 ,0, 0.7);
}

h1, h2, h3, .price {
  font-family: 'roboto serif', serif;
  text-transform: uppercase;
  color: #2D2C2A;
}

section {
  margin-bottom: 24px;
}

section h2 {
  background-color: #FED7AA;
  padding: 8px 16px;
  text-align: center;
  margin-bottom: 24px;
  font-size: 18ppx
}

ul li {
  margin-bottom: 16px;
  display: flex;
}

li .details {
 max-width: 240px;
}

h3 .details {
  margin-bottom: 8px;
  font-size: 16px;
}

.details {
  margin-bottom: 8px;
}

.details p {
  font-size: 14px;
  line-height: 21px;
  color: rgba(0, 0 ,0, 0.6)
}